@media (max-width: 992px) {  
 
    .header-family {
        background-image: url("../assets/family.jpg");
        background-repeat: no-repeat;
        height: 730px;
        background-size: contain;
        position: relative;    
        border: 3px solid red;    
    }

    .header-blue-section {
        height: 158px;
        background-color: #4f65a3;
        opacity: 0.8;  
        bottom: 0;  
        /* position: absolute; */
        width: 100%;
    }

}

@media (min-width: 992px) {  
       
    .header-family {
        background-image: url("../assets/family.jpg");
        background-repeat: no-repeat;
        height: 730px;
        background-size: cover;
        /* position: relative; */
    }
    
    .header-blue-section {
        height: 258px;
        background-color: #4f65a3;
        opacity: 0.8;  
        /* bottom: 0;   */
        /* position: absolute; */
        width: 100%;
    }
    
    
}


    

